aiosignal==1.3.1
asgiref==3.8.1
attrs==19.1.0
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
coloredlogs==15.0.1
frozenlist==1.4.1
humanfriendly==10.0
idna==3.7
lxml==5.2.2
maxminddb==2.6.2
multidict==6.0.5
pycares==4.4.0
pycparser==2.22
pyreadline3==3.4.1
requests==2.32.3
tzdata==2024.1
urllib3==2.2.2
yarl==1.9.4
